.debug/node-red/flows.json
[{"id":"33841abc.2be4b6","type":"tab","label":"debug","disabled":false,"info":""},{"id":"1a882910.dc8707","type":"mystrom switch config","z":"","name":"switch","address":"192.168.1.10"},{"id":"3f06f33f.e669dc","type":"inject","z":"33841abc.2be4b6","name":"test relay on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["b1d8061f.2a1868"]]},{"id":"b1d8061f.2a1868","type":"mystrom switch relay","z":"33841abc.2be4b6","switch":"1a882910.dc8707","relay":"on","name":"switch on","x":280,"y":40,"wires":[]},{"id":"9cf7d6ed.acf688","type":"inject","z":"33841abc.2be4b6","name":"test get status","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["80a0536e.af597"]]},{"id":"738b3106.402f4","type":"inject","z":"33841abc.2be4b6","name":"test relay off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["5685385e.1178a8"]]},{"id":"94d04ef7.c4ed2","type":"debug","z":"33841abc.2be4b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":160,"wires":[]},{"id":"5685385e.1178a8","type":"mystrom switch relay","z":"33841abc.2be4b6","switch":"1a882910.dc8707","relay":"off","name":"switch off","x":280,"y":100,"wires":[]},{"id":"80a0536e.af597","type":"mystrom switch status","z":"33841abc.2be4b6","switch":"1a882910.dc8707","name":"get status","x":280,"y":160,"wires":[["94d04ef7.c4ed2"]]}]